* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  


}


/* -----------------------Navbar portion--------------------------------------- */

header {
  padding: 30px 30px;
  
}
.bg-liner{
  background-image: linear-gradient(to left, rgb(11, 11, 88),rgb(118, 6, 133));
}
.navbar-translate {
  
  color: rgb(189, 181, 183);
}
.navbar-translate a{
  color: rgb(189, 181, 183);
text-decoration: none;
}
.navbar-translate a:hover{
  color: rgb(231, 23, 86) !important;
  transition-duration: 1s;
}
.fa-envelope{
  padding: 0px 10px 0px 0px;
  }
.fa{
  color: rgb(231, 23, 86);
}

.navbar-collapse {
  flex-grow: 0 !important;
}
.dropdown-menu{
  text-align: center;
  background-image: linear-gradient(rgba(255, 87, 87, 0.61), rgba(75, 0, 160, 0.575));
}

.navbar-brand {
  font-size: 40px;
  font-weight: bolder;
  color: rgb(231, 23, 86) !important;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: rgb(231, 23, 86);
}
.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(231, 23, 86);
}






/*------------------------- button part start------------------------*/

.btn_sub {
  border-radius: 18px;
  border: none;
  padding: 2px 8px;
  }

  
.btn_sub:hover {
  background-color: #f02065;
  color: white;
  transition-duration: 0.8s;
}

/* --------------------button part end-------------------- */


/* ----------------------Banner part css--------------------- */

.banner {
  height: 750px;
  width: 100%;
  background-size: 100% 100%;
   /* background-image: url("images/rome-banner.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  animation: changeImage 20s linear 1s infinite;
}
@keyframes changeImage {
  0%{
      background-image: url("images/bali-open-hill.jpg");
      
  }
  25%{
      background-image: url("images/bali_temple.jpg");
  }
  50%{
      background-image: url("images/bali2.jpg");
  }
  100%{
      background-image: url("images/bali.jpeg");
  }

}




/* -------------------------2 nd section paragraph----------------- */

.container{
  display: flex;
}

/* .rome_para {
  width: 60%;

} */
.name {
  display: flex;
}
.name h1{
  font-size: 80px;
  color: blue;
  font-family: 'Alegreya', serif;


}
.name a{
  text-decoration: none;
  color: black;
  font-size: 80px;
  font-family: 'Alegreya', serif;

}
.rome{
  padding-top: 45px;
  padding-left: 10px;
}
.pad-t-25{
  padding-top: 25px;
  }
.about_bali p{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Alegreya', serif;
  line-height: 34px;

}

/* ------------------------------------START PLANNING YOUR TRIP---------------------------- */
.plan_your_trip{
  
  display: flex;
  justify-content: space-between;
}
.pyt_para h5{
  text-align: center;
padding-bottom: 20px;
}

.date_place{
  display: flex;
  justify-content: space-between;
}
.btv{
  height: 250px;
  width: 210px;
  display: inline-block;
  background-color: bisque;
  border-radius: 20px;
  padding: 15px;
}
.bpv{
  height: 250px;
  width: 210px;
  display: inline-block;
  background-color: rgb(196, 217, 255);
  border-radius: 20px;
  padding: 15px;

}
.size{
  font-size: 35px;
  padding-bottom: 100px;
}

/* ------------------------------footer part--------------------------- */


footer {
  background-color: rgb(160, 158, 158);
  
}

.footer{
  display: flex;
  justify-content: space-between;
}


.footer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0px;
}
.l-g{
  padding: 0px 30px;
}

.width-16 {
  width: 16%;
}

.width-36 {
  width: 36%;
}

.pad-t-25 {
  padding-top: 25px;
}

.pad-t-25 h4 {
  color: #0166aa;
}

.l-g p {
  margin-bottom: .4rem !important;

}
.l-g p:hover{
  text-align: center;
  color: #2c2c2c;
  }

  .l-g h5{
  padding: 20px 0px;
  color: #074e04;
  text-shadow: 4px 3px 6px rgba(0,0,0,0.7);
}

.l-g a {
  font-weight: bold;
  text-decoration: none;
  color: black;

}
.follow{
  padding: 30px 0px;
}


.follow h1 {
  color: rgb(45, 117, 212);
}

.follow i {
  font-size: 30px;
  
}

.foot {
  width: 70%;
}

.foot p {
  font-size: 15px;
}

.foot_src {
  border-radius: 20px;
  border: 1px solid black !important;
}

.btn {
  border-radius: 1.5rem;
  background-color: rgba(72, 243, 255, 0.623);
}

/* ------------end part---------------- */

.end {
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
}

.end h6 {
  padding-top: 35px;
}





